{% extends "base_admin.html" %}
{% block js %}
    {{ block.super }}
    <script src="/static/js/admin_ajax.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            Список объектов:
            <ul id="objects_list">
                {% include 'inc-objects_list.html' %}
            </ul>
        </div>
    </div>
    <input type="submit" value="Create New" onclick="get_form('{{ id }}', '{{ url_prefix }}')">
    <div id="creation-form">
        ...
    </div>
{#    {% include 'inc-creation_form.html' %}#}

{% endblock %}