{% for object in objects %}
    <li> {{ object.name }} {{ object.username }}
        <button class="btn btn-default" aria-label="Edit"
                onclick="get_form('{{ object.id }}', '{{ url_prefix }}')">
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" aria-label="Delete"
                onclick="delete_object('{{ object.id }}', '{{ url_prefix }}')">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </li>
{% endfor %}